{% extends 'base.html' %}
{% load static %}
{% block title %}Templates{% endblock title %}

{% block head %}
<!--Datatables CSS-->
<link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'datatables/responsive.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'datatables/select.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'datatables/buttons.bootstrap4.min.css'%}">
<!--CodeMirror CSS
	<link rel="stylesheet" href="{% static 'codemirror/codemirror.css'%}">
	<link rel="stylesheet" href="{% static 'codemirror/theme/monokai.css'%}">
	<link rel="stylesheet" href="{% static 'codemirror/addon/scroll/simplescrollbars.css'%}">
	-->

{% endblock head %}

{% block header_title %}Templates{% endblock header_title %}

{% block content %}
<div class="row">
	<div class="col-12">
		<!--Card Header-->
		<div class="card table table-responsive">
			<div class="card-header bg-gray">
				<h3 class="card-title">Template Table</h3>
			</div>
			<!--Card Body-->
			<div class="card-body">
				<table id="template-table" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Template Name</th>
							<th>Description</th>
							<th>Created</th>
							<th>Modified</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Template Name</th>
							<th>Description</th>
							<th>Created</th>
							<th>Modified</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
{% include 'modals/_template_modals.html' %}
{% endblock content%}

{% block script %}
<!--DataTables JS-->
<script src="{% static 'datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'datatables/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'datatables/responsive.bootstrap4.min.js'%}"></script>
<script src="{% static 'datatables/select.bootstrap4.min.js'%}"></script>
<script src="{% static 'datatables/dataTables.select.min.js'%}"></script>
<script src="{% static 'datatables/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'datatables/buttons.bootstrap4.min.js'%}"></script>
<!--CodeMirror JS
<script src="{% static 'codemirror/codemirror.js'%}"></script>
<script src="{% static 'codemirror/mode/jinja2/jinja2.js'%}"></script>
<script src="{% static 'codemirror/display/autorefresh.js'%}"></script>
<script src="{% static 'codemirror/addon/lint/lint.js'%}"></script>
<script src="{% static 'codemirror/addon/scroll/simplescrollbars.js'%}"></script>
-->
<!--Template Page JS-->
<script src="{% static 'js/template.js'%}"></script>
{% endblock script%}